* {
    font-family: 'Nunito Sans', sans-serif;
    padding: 0;
}

form {
    margin-bottom: 20px;
}

#current-image-container {
    margin-bottom: 20px;
    padding: 4px 20px;
    background-color: black;
    color: white;
}

#current-image-container img {
    display: block;
    max-width: 100%;
    margin-bottom: 10px;
}

#current-image-container h2,
#current-image-container h1 {
    margin-bottom: 15px;
}

#current-image-container p {
    margin-top: 0;
}

.bottom-part {
    margin: 1%;
}

button {
    padding: 3px 10px;
    background-color: black;
    ;
    border: none;
    border-radius: 0.3rem;
    color: white;
}

#search-history {
    list-style: none;
    padding: 0;
}

#search-history li {
    cursor: pointer;
    color: rgb(0, 72, 255);
    margin-bottom: 5px;
}

#search-history li:hover {
    text-decoration: underline;
}

.nasa-image {
    border-radius: 1%;
}

.nasa-title {
    margin-bottom: 2rem;
}